* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Rubik';
  font-weight: 300;
  font-size: 18px;
  color: $body-font-gray;
}

a {
  color: $primary;
  font-weight: 400;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

p {
  line-height: 28px;
  margin-bottom: 20px;

  code {
    font-size: 16px;
  }
}

strong {
  font-weight: 500;
}

h1 {
  font-size: 90px;
  font-weight: 100;
  margin-bottom: 24px;
  font-family: 'Work Sans';

  @media(max-width: 600px) {
    font-size: 50px;
  }
}

h2 {
  font-size: 40px;
  font-weight: 200;
  padding-bottom: 12px;
  margin-bottom: 20px;
  border-bottom: solid #eee 1px;
  font-family: 'Work Sans';
  color: $primary;
}

h2:before {
  display: block;
  content: " ";
  margin-top: -100px;
  height: 100px;
  visibility: hidden;
}

h3 {
  font-weight: 200;
  margin-bottom: 20px;
  font-size: 30px;
  font-family: 'Work Sans';
}

[type="text"] {
  border: solid 1px #ccc;
  padding: 7px 10px;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  -webkit-appearance: none;
}

label {
  display: block;
  margin-bottom: 5px;
}

table {
  width: 100%;
  max-width: 100%;
  border: solid #f5f5f5 1px;
}

th {
  text-align: left;
  font-weight: 400;
  border-bottom: solid #eee 1px;
}

th,
td {
  padding: 20px;
  vertical-align: top;
}

td {
  line-height: 24px;
}

tbody tr:nth-child(odd) {
  background: #f9f9f9;
}

@media(max-width: 600px) {
  thead {
    display: none;
  }

  tr {
    display: block;
    margin-bottom: 20px;
    border-bottom: solid 1px $light-gray;

    &:last-child {
      margin-bottom: 0;
      border-bottom: 0;
    }
  }

  td {
    display: block;

    pre[class*="language-"],
    code[class*="language-"] {
      white-space: pre-wrap;
    }
  }

  td:before {
    content: attr(data-label);
    display: block;
    margin-bottom: 10px;
    font-weight: 400;
  }
}