$primary: #9a40c2;
$primary-light: lighten($primary, 25%);
$secondary: #efe524;
$secondary-dark: darken($secondary, 30%);

$body-font-gray: #666;
$light-gray: #eee;
$white: #fff;

$border-radius: 4px;