@import 'variables';
@import 'base';
@import 'button';
@import 'header';
@import 'footer';
@import 'nav';
@import 'form';
@import 'prism';
@import 'code';

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 40px;

  @media(max-width: 600px) {
    padding: 0 20px;
  }
}

.container__body {
  padding-bottom: 40px;
}

.section {
  margin-bottom: 60px;
}